{% extends 'global.html' %} {% block title %} Home {% endblock title %} {% block
content %}

<div class="container my-5">
  <form id="bookForm" class="row g-3 my-5">
    <div class="col-md-6">
      <label for="bookName" class="form-label"
        >Book Name<span class="text-danger">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="bookName"
        name="bookName"
        placeholder="Harry Potter"
      />
    </div>
    <div class="col-md-6">
      <label for="bookAuthor" class="form-label"
        >Author<span class="text-danger">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="bookAuthor"
        name="bookAuthor"
        placeholder="J.K. Rowling"
      />
    </div>
    <div class="col-12">
      <label for="sLink" class="form-label"
        >Source Link<span class="text-danger">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="sLink"
        name="sLink"
        placeholder="https://"
      />
    </div>
    <div class="col-12">
      <label for="bookWebsite" class="form-label">Website</label>
      <input
        type="text"
        class="form-control"
        id="bookWebsite"
        name="bookWebsite"
        placeholder="https://"
      />
    </div>
    <div class="col-12">
      <label for="bookThumbnail" class="form-label">Thumbnail</label>
      <input
        type="text"
        class="form-control"
        id="bookThumbnail"
        name="bookThumbnail"
        placeholder="https://"
      />
    </div>
    <div class="col-md-4">
      <label for="bookPublisher" class="form-label"
        >Publisher<span class="text-danger">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="bookPublisher"
        placeholder="Bloomsbury"
        name="bookPublisher"
      />
    </div>
    <div class="col-md-4">
      <label for="bookPublished" class="form-label">Published</label>
      <input
        type="text"
        class="form-control"
        id="bookPublished"
        placeholder="1997"
        name="bookPublished"
      />
    </div>
    <div class="col-md-4">
      <label for="bookGenre" class="form-label"
        >Genre<span class="text-danger">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="bookGenre"
        placeholder="Fantasy"
        name="bookGenre"
      />
    </div>
    <div class="col-md-6">
      <label for="country" class="form-label">Country</label>
      <input
        type="text"
        class="form-control"
        id="country"
        placeholder="USA"
        name="country"
      />
    </div>
    <div class="col-md-6">
      <label for="bookLang" class="form-label">Language</label>
      <input
        type="text"
        class="form-control"
        id="bookLang"
        placeholder="English"
        name="bookLang"
      />
    </div>
    <div class="col-md-12">
      <label for="bookDesc" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="bookDesc"
        name="bookDesc"
        placeholder="Leave a description here"
        rows="3"
      ></textarea>
    </div>

    <div class="col-12 mt-4">
      <button id="subBtn" type="submit" class="btn btn-dark">Submit</button>
    </div>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
  submit = document.getElementById("bookForm");

  bTitle = document.getElementById("bookName");
  bAuthor = document.getElementById("bookAuthor");
  bLink = document.getElementById("sLink");
  bPublisher = document.getElementById("bookPublisher");
  bGenre = document.getElementById("bookGenre");
  addStatusSuccess = document.getElementById("StatusSuccess");
  addStatusFailure = document.getElementById("StatusFailure");

  document
    .getElementById("bookForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      if (
        bTitle.value == "" ||
        bAuthor.value == "" ||
        bLink.value == "" ||
        bPublisher.value == "" ||
        bGenre.value == ""
      ) {
        bTitle.style.border = "2px solid red";
        bAuthor.style.border = "2px solid red";
        bLink.style.border = "2px solid red";
        bPublisher.style.border = "2px solid red";
        bGenre.style.border = "2px solid red";
        addStatusFailure.style.display = "block";
        document.getElementById("MessageFailure").innerHTML = "Please fill all the fields";
        setTimeout( () => {
          addStatusFailure.style.display = "none";
        }, 1000)
      return
      }

      var formData = new FormData(this);

      try {
        fetch("/", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              addStatusSuccess.style.display = "block";
              document.querySelector(".alert").innerHTML = data.message;
              setTimeout( () => {
                addStatusSuccess.style.display = "none";
              }, 1000)
              document.getElementById("bookForm").reset();
              bTitle.style.border = "";
        bAuthor.style.border = "";
        bLink.style.border = "";
        bPublisher.style.border = "";
        bGenre.style.border = "";
            }
            else{
              addStatusFailure.style.display = "block";
              document.querySelector(".alert").innerHTML = data.error;
              setTimeout( () => {
                addStatusFailure.style.display = "none";
              }, 1000)
            }
          })
        }
        catch (error) {
          console.log(error)
        }
    });
</script>

{% endblock content %}
